@{
    ViewData["Title"] = "Home Page";
}

﻿@using X.PagedList
@model PagedList<ShoeViewModel>
@{
    ViewData["Title"] = "Home Page";
    string ShrinkShoeName(string Shoe)
    {
        return Shoe.Length >= 20 ? $"{Shoe.Substring(0, 14)}..." : Shoe;
    }
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col">
                    <div class="card">
                        <img src="@item.imageURL" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Model - @item.BrandName</h5>

                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<partial name="_Page" model="@Model" />